<nav class="p-4 bg-green-700 text-white flex justify-between items-center">
    <div class="text-lg font-bold tracking-tight">Github Users</div>
    <div class="flex gap-4">
        <a routerLink="/" class="hover:underline">Home</a>
        <a routerLink="/search" class="hover:underline" >Search users</a>  
        <!-- [ngStyle]="{'color':true? 'red'}" [ngClass]="'p-64':true" -->
    </div>
</nav>
<router-outlet></router-outlet>
<div>ffdjjdfdjf</div>
<router-outlet></router-outlet>





// <!-- <div>
//     <div> {{data$ | async}} </div> 
//     <div *ngFor="let val of data$ |async"> {{val}} </div>  -->
// <!-- </div>  -->

// <!-- <app-random>
// <div>
//     hello
// </div>

// </app-random> -->
// <!-- <button class="border p-2" (click)="doSthWithChild()">Click Parent</button> -->